In [ ]:
# TOPIC: String Based Assignment Problem

In [25]:
#1. Write a program to reverse a string.
a = str(input('Enter the value'))
print("Intial order is :",a)
print("Reverse order is :",a[::-1])

Enter the value ksjhs

Intial order is : ksjhs
Reverse order is :  shjsk

In [87]:
#2. Check if a string is a palindrome.
h = str(input('Enter the value'))
j = h[::-1]
if j == h:
    print(" Given string is palindrome :"  )
else:
    print(" Given string is not palindrome :"  )

Enter the value ghjhg

 Given string is palindrome :

In [4]:
#3. Convert a string to uppercase.
gh = 'human life'
gh.upper()

'HUMAN LIFE'

In [5]:
#4. Convert a string to lowercase.
ty = 'FAST RACING'
ty.lower()

'fast racing'

In [7]:
#5.Count the number of vowels in a string.
j = str(input('Enter the value:'))
print('Number of vowels count : ')
count = j.count('a',0,)+j.count('e',0,)+j.count('i',0,)+j.count('o',0,)+j.count('u',0,)
# count add the value return by count function of 'a','e','i','o','u'
print(count)

Enter the value: a eio aiw aw

Number of vowels count :
7

In [6]:
#6. Count the number of consonants in a string.
gh = str(input('Enter the value :'))
print('Number of consonants count : ')
count = gh.count('a',0,)+gh.count('e',0,)+gh.count('i',0,)+gh.count('o',0,)+gh.count('u',0,)
jk = gh.replace(" ","")
l = len(jk)
print(l-count)

Enter the value : india will win world cup

Number of consonants count :
13

In [54]:
#7. Remove all whitespaces from a string.
wh = str(input())
wh.replace(" ","")

 kjio eioiuoei

'kjioeioiuoei'

In [2]:
#8. Find the length of a string without using the `len()` function.
rty = 'world is one'
pi = list(rty)
count = 0
for i in pi:
    count += 1
print("Length of string :",count)

Length of string : 12

In [11]:
#9.Check if a string contains a specific word.
rt = str(input("Enter the value"))
print("Word 'world' is present in sentence is : ")
bool(rt.count("world"))

Enter the value world is one

Word 'world' is present in sentence is :

True

In [13]:
#10. Replace a word in a string with another word.
pt = "Hello team"
pt.replace("Hello","Welcome")

'Welcome team'

In [15]:
#11. Count the occurrences of a word in a string.
poi = str(input("Enter the value"))
print(" Number of the occurrences of hello")
poi.count("hello")

Enter the value hello world,hello team

 Number of the occurrences of hello

2

In [7]:
#12. Find the first occurrence of a word in a string.
ok = str(input("Enter the value :"))
ui = ok.split()
iuy = ui.index('you')
print("first occurence of word 'you' is : ",iuy+1)

Enter the value : lkd you hsujh

first occurence of word 'you' is :  2

In [15]:
#13. Find the last occurrence of a word in a string.
kl = str(input("Enter a string :"))
kl = kl.split()
hj = 'is'
mp = []
for i in kl:
    if kl[kl.index(i)-1] == hj:
        mp.append(kl.index(i))
mp.sort()
print("Last occurrence of word 'is' in string is :",max(mp))

Enter a string : world is great is not

Last occurrence of word 'is' in string is : 4

In [4]:
#14. Split a string into a list of words.
fg = str(input("Enter the value ;"))
fg.split()

Enter the value ; let go

['let', 'go']

In [29]:
#15. Join a list of words into a string
hj = ['true','friends']
syu = " ".join(hj)
print(syu)

true friends

In [32]:
#16. Convert a string where words are separated by spaces to one where words are separated by underscores.
pg = str(input("Enter the value ;"))
pg.replace(' ','_')

Enter the value ; Time is true

'Time_is_true'

In [6]:
#17. Check if a string starts with a specific word or phrase.
we = str(input("Enter the value ;"))
print("Text start with word 'hello' :")
we.startswith('Hello')

Enter the value ; Hello world

Text start with word 'hello' :

True

In [8]:
#18. Check if a string ends with a specific word or phrase.
hj = str(input("Enter the value ;"))
print("Text end with word 'done' :")
hj.endswith('done')

Enter the value ; let's go

Text end with word 'done' :

False

In [1]:
#19. Convert a string to title case (e.g., "hello world" to "Hello World").
kl = "hello world"
kl.title()

'Hello World'

In [37]:
#20. Find the longest word in a string.
jh = " Someone is knocking on the door"
yu = jh.split()
py = len(yu[0])
okl = yu[0]
for i in range(1,5):
    if len(yu[i]) > py:
        py = len(yu[i])
        okl = yu[i]
print("largest word in the string is :",okl)

largest word in the string is : knocking

In [40]:
#21. Find the shortest word in a string.
jh = " Ram is shyam"
yu = jh.split()
py = len(yu[0])
okl = yu[0]
for i in range(1,3):
    if len(yu[i]) < py:
        py = len(yu[i])
        okl = yu[i]
print("largest word in the string is :",okl)

largest word in the string is : is

In [41]:
#22. Reverse the order of words in a string.
jh1 = " Someone is knocking on the door"
print("Before reversing :",jh1)
print("After reversing :",jh1[::-1])

Before reversing :  Someone is knocking on the door
After reversing : rood eht no gnikconk si enoemoS

In [10]:
#23. Check if a string is alphanumeric.
jh2 = " Someone is knocking on the door"
yuo = jh2.isalnum()
if yuo:
    print("String is alphanumeric. ")
else:
     print("String is not alphanumeric. ")

String is not alphanumeric.

In [16]:
#24. Extract all digits from a string.
jh3 = " 123 joke 456 joke"
for i in jh3:
    if i.isdigit() == True:
        print(i)
    else: pass

1
2
3
4
5
6

In [15]:
#25. Extract all alphabets from a string.
jh3 = " 123 joke 456 joke"
for i in jh3:
    if i.isdigit() == True:
        pass
    else: 
        print(i)

j
o
k
e


j
o
k
e

In [5]:
#26. Count the number of uppercase letters in a string.
wh = str(input("Enter a string :"))
jkl = list(wh)
for i in jkl:
    if i.isupper() == True:
        print(i)
    else:
        pass

Enter a string : uidru 98UUTRR hjgyt UTYT\

U
U
T
R
R
U
T
Y
T

In [11]:
#27. Count the number of lowercase letters in a string.
jh3 = " 123 joke 456 joke"
for i in jh3:
    if i.isupper() == True or i.isdigit() == True:
        pass
    else:
        print(i)

j
o
k
e


j
o
k
e

In [12]:
#28. Swap the case of each character in a string.
jkl = " Joke of the Day"
jkl.swapcase()

' jOKE OF THE dAY'

In [14]:
#29. Remove a specific word from a string.
jkm = " Joke of the Day"
jkm.replace('Day','')

' Joke of the '

In [3]:
#30. Check if a string is a valid email address.
yui = input()
hj = yui.split('@')
op = yui.find(" ")
if op <= -1:
    if yui.endswith(".com"):
        if len(hj) <= 1 :
            print("It is not a valid email address")
        else:
            print("It is a valid email address")
    else:
        print("It is not a valid email address") 
else:
    print("Not a valid email address")

 ghfytu123@gmai.com

It is a valid email address

In [5]:
#31. Extract the username from an email address string.
yui = input()
hj = yui.split('@')
op = yui.find(" ")
if op <= -1:
    if yui.endswith(".com"):
        if len(hj) <= 1 :
            print("It is not a valid email address")
        else:
            print("Username is :"+hj[0])
    else:
        print("It is not a valid email address") 
else:
    print("Not a valid email address")

 jshjusgh123@gmail.com

Username is :jshjusgh123

In [6]:
#32. Extract the domain name from an email address string.
yui = input()
hj = yui.split('@')
op = yui.find(" ")
if op <= -1:
    if yui.endswith(".com"):
        if len(hj) <= 1 :
            print("It is not a valid email address")
        else:
            print("Username is :"+hj[1])
    else:
        print("It is not a valid email address") 
else:
    print("Not a valid email address")

 sjkuhuio!23@gmail.com

Username is :gmail.com

In [28]:
#33. Replace multiple spaces in a string with a single space.
jh5 = " Someone   is knocking on    the door"
jkl = jh5.split()
' '.join(jkl)

'Someone is knocking on the door'

In [25]:
#34. Check if a string is a valid URL.
#In this program only check for url end with '.com' 
yui = input()
op = yui.find(" ")
if op <= -1:
    if yui.endswith(".com"):
            if yui.startswith("https://") or yui.startswith("http://"):
                print("It is  a valid url address")
            else:
                print("It is  not a valid url address")
    else:
            print("Not a valid url address")
else:
    print("Not a valid url address")

 http://sjkhu.vu

Not a valid url address

In [26]:
#35. Extract the protocol (http or https) from a URL string.
#In this program only check for url end with '.com' 
yui = input()
op = yui.find(" ")
if op <= -1:
    if yui.endswith(".com"):
            if yui.startswith("https://") or yui.startswith("http://"):
                if yui.startswith("https"):
                    print("The protocol is :"+"https")
                else:
                    print("The protocol is :"+"http")
            else:
                print("It is  not a valid url address")          
    else:
            print("Not a valid url address")      
else:
    print("Not a valid url address")

 kdopi

Not a valid url address

In [2]:
#36. Find the frequency of each character in a string.
mhj = "Someone is knocking on the door"
print("String is :",mhj)
pu = "ABCDEFGHIJKLMNOPQRSTUVWXYZ"
mhj = mhj.upper()
count = 0
for i in pu:
    for t in mhj:
        if i == t:
            count += 1
    print("Number of ",i,":",count)
    count = 0

String is : Someone is knocking on the door
Number of  A : 0
Number of  B : 0
Number of  C : 1
Number of  D : 1
Number of  E : 3
Number of  F : 0
Number of  G : 1
Number of  H : 1
Number of  I : 2
Number of  J : 0
Number of  K : 2
Number of  L : 0
Number of  M : 1
Number of  N : 4
Number of  O : 6
Number of  P : 0
Number of  Q : 0
Number of  R : 1
Number of  S : 2
Number of  T : 1
Number of  U : 0
Number of  V : 0
Number of  W : 0
Number of  X : 0
Number of  Y : 0
Number of  Z : 0

In [14]:
#37. Remove all punctuation from a string.
jk = str(input("Enter a string :"))
jk = list(jk)
lp = []
for i in jk:
        if i.isalpha() == True or i == " ":
            lp.append(i)
        else:
            pass
lp = "".join(lp)
print("After removing all the punctuation is :",lp)

Enter a string : sdfhuidhs! kcji !

After removing all the punctuation is : sdfhuidhs kcji

In [44]:
#38. Check if a string contains only digits
fgh = '1238568'
hgf = '0123 hjjjjh'
print("'string 1 is contains only digits :", fgh.isdigit())
print("'string 2 is contains only digits :", hgf.isdigit())

'string 1 is contains only digits : True
'string 2 is contains only digits : False

In [45]:
#39. Check if a string contains only alphabets.
kjh = "Hello"
fgh1 = '1238568'
print("'string 1 is contains only alphabets. :", kjh.isalpha())
print("'string 2 is contains only alphabets. :", fgh1.isalpha())

'string 1 is contains only alphabets. : True
'string 2 is contains only alphabets. : False

In [46]:
#40. Convert a string to a list of characters.
kjh = "Hello"
list(kjh)

['H', 'e', 'l', 'l', 'o']

In [7]:
#41. Check if two strings are anagrams.
we1 = input("Enter the first word")
we2 = input("Enter the second word")
we1.upper()
we2.upper()
fg = list(we1)
dg = list(we2)
fg.sort()
dg.sort()
if fg == dg:
    print("Two string are anagrams")
else:
     print("Two string are not anagrams")

Enter the first word ghjkl
Enter the second word lkjhg

Two string are anagrams

In [15]:
#42. Encode a string using a Caesar cipher
ju = int(input("Enter the number to use as a key :"))
jk = "ABCDEFGHIJKLMNOPQRSTUVWXYZ"
jk = list(jk)
iu = str(input("Enter a text to cipher :"))
iu = iu.upper()
iu = list(iu)
lo = []
po = 0
for i in iu:
    po = jk.index(str(i))+4
    #using index +n formula to cipher the text
    lo.append(jk[po])
pl = "".join(lo)
print("After applying Caesar cipher :",pl)

Enter the number to use as a key : 4
Enter a text to cipher : jdhuuig

After applying Caesar cipher : NHLYYMK

In [16]:
#43. Decode a Caesar cipher encoded string.43.
ju = int(input("Enter the number to use as a key :"))
jk = "ABCDEFGHIJKLMNOPQRSTUVWXYZ"
jk = list(jk)
iu = str(input("Enter a text to decode :"))
iu = iu.upper()
iu = list(iu)
lo = []
po = 0
for i in iu:
    po = jk.index(str(i))-4
    #using index -n formula to Decode cipher  text
    lo.append(jk[po])
pl = "".join(lo)
print("After applying Caesar cipher :",pl)

Enter the number to use as a key : 4
Enter a text to decode : okidou

After applying Caesar cipher : KGEZKQ

In [22]:
#44. Find the most frequent word in a string.
kl = str(input("Enter a string :"))
kl = kl.split()
p = 0
for i in kl:
    jk = kl.count(i)
    if jk > p:
        p = jk
        ko = i
print("The most frequent word in a string :",ko)

Enter a string : hdjhd hdj hj hj hj hJ HJ

The most frequent word in a string : hj

In [8]:
#45. Find all unique words in a string.
we1 = input("Enter the first word")
po = set(we1)
for i in po:
    print(i)

Enter the first word hjsdg igshghjgas

d
i
a
s
j
h

g

In [24]:
#46. Count the number of syllables in a string.
hyu = str(input("Enter a string : "))
l = ['a','e','i','o','u']
count = 0
for i in hyu:
    if i in l:
        count +=1
po = len(hyu)
print(count)

Enter a string :  urehi rui

5

In [15]:
#47. Check if a string contains any special characters.
hyu = str(input("Enter a string : "))
jhu = hyu.split()
hyu = "".join(jhu)
count = 0
for i in hyu:
    if i.isdigit() == True or i.isalpha() == True:
        pass
    else:
        count += 1
if count > 0:
    print("String contain special charcters")
else:
    print("String  cannot contain special charcters")

Enter a string :  jfh duioh@#$

String contain special charcters

In [62]:
#48. Remove the nth word from a string.
#remove 9 word from the string
oki = "I had a bad cold and was in bed for a week. "
print("Oringinal string is :",oki)
LKO = oki.split()
okl = LKO.pop(8)
print("After removing the nth word from a stringis :",' '.join(LKO))

Oringinal string is : I had a bad cold and was in bed for a week.
After removing the nth word from a stringis : I had a bad cold and was in for a week.

In [64]:
#49. Insert a word at the nth position in a string.
# insert a word in 9th position
oki = "I had a bad cold and was in for a week"
print("Oringinal string is :",oki)
LKO = oki.split()
okl = LKO.insert(8,'bed')
print("After removing the nth word from a stringis :",' '.join(LKO))

Oringinal string is : I had a bad cold and was in for a week
After removing the nth word from a stringis : I had a bad cold and was in bed for a week

In [21]:
#50. Convert a CSV string to a list of lists.
csv_string = "eruid,description batman,uses technology superman,flies through the air spiderman,uses a web ghostrider, rides a motorcycle cn,description daredevil,this group represents daredevils superhero,this group represents superheroes"
#GROUP_OBJECT_PROFILE#accessgroupGroupProfile

ko = list(csv_string)
ko

['e',
 'r',
 'u',
 'i',
 'd',
 ',',
 'd',
 'e',
 's',
 'c',
 'r',
 'i',
 'p',
 't',
 'i',
 'o',
 'n',
 ' ',
 'b',
 'a',
 't',
 'm',
 'a',
 'n',
 ',',
 'u',
 's',
 'e',
 's',
 ' ',
 't',
 'e',
 'c',
 'h',
 'n',
 'o',
 'l',
 'o',
 'g',
 'y',
 ' ',
 's',
 'u',
 'p',
 'e',
 'r',
 'm',
 'a',
 'n',
 ',',
 'f',
 'l',
 'i',
 'e',
 's',
 ' ',
 't',
 'h',
 'r',
 'o',
 'u',
 'g',
 'h',
 ' ',
 't',
 'h',
 'e',
 ' ',
 'a',
 'i',
 'r',
 ' ',
 's',
 'p',
 'i',
 'd',
 'e',
 'r',
 'm',
 'a',
 'n',
 ',',
 'u',
 's',
 'e',
 's',
 ' ',
 'a',
 ' ',
 'w',
 'e',
 'b',
 ' ',
 'g',
 'h',
 'o',
 's',
 't',
 'r',
 'i',
 'd',
 'e',
 'r',
 ',',
 ' ',
 'r',
 'i',
 'd',
 'e',
 's',
 ' ',
 'a',
 ' ',
 'm',
 'o',
 't',
 'o',
 'r',
 'c',
 'y',
 'c',
 'l',
 'e',
 ' ',
 'c',
 'n',
 ',',
 'd',
 'e',
 's',
 'c',
 'r',
 'i',
 'p',
 't',
 'i',
 'o',
 'n',
 ' ',
 'd',
 'a',
 'r',
 'e',
 'd',
 'e',
 'v',
 'i',
 'l',
 ',',
 't',
 'h',
 'i',
 's',
 ' ',
 'g',
 'r',
 'o',
 'u',
 'p',
 ' ',
 'r',
 'e',
 'p',
 'r',
 'e',
 's',
 'e',
 'n',
 't',
 's',
 ' ',
 'd',
 'a',
 'r',
 'e',
 'd',
 'e',
 'v',
 'i',
 'l',
 's',
 ' ',
 's',
 'u',
 'p',
 'e',
 'r',
 'h',
 'e',
 'r',
 'o',
 ',',
 't',
 'h',
 'i',
 's',
 ' ',
 'g',
 'r',
 'o',
 'u',
 'p',
 ' ',
 'r',
 'e',
 'p',
 'r',
 'e',
 's',
 'e',
 'n',
 't',
 's',
 ' ',
 's',
 'u',
 'p',
 'e',
 'r',
 'h',
 'e',
 'r',
 'o',
 'e',
 's']

In [66]:
                   List Based Practice Problem :

In [28]:
#1. Create a list with integers from 1 to 10.
jhk = [0]*10
j = 0
for i in range(1,11):
    jhk[i-1] = i
print(jhk)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [18]:
#2. Find the length of a list without using the `len()` function.
hj = [1,2,3,4,5,6,7,8,9,10,11]
count = 0
for i in hj:
    count += 1
print("Total length of list :",count)

Total length of list : 11

In [13]:
#3. Append an element to the end of a list.
country = ['India','US','France']
print("Country before adding :",country)
country.append('Germany')
print("After adding another country:", country)

Country before adding : ['India', 'US', 'France']
After adding another country: ['India', 'US', 'France', 'Germany']

In [2]:
#4. Insert an element at a specific index in a list.
country = ['India','US','France']
print("Country before adding another country in 2nd place:",country)
country.insert(1,'Germany')
print("After adding another in 2nd placecountry:", country)

Country before adding another country in 2nd place: ['India', 'US', 'France']
After adding another in 2nd placecountry: ['India', 'Germany', 'US', 'France']

In [2]:
#5. Remove an element from a list by its value.
country = ['India','US','France','Germany']
print("Country before removing:",country)
country.remove('US')
print("Country after removing 'ÚS' :",country)

Country before removing: ['India', 'US', 'France', 'Germany']
Country after removing 'ÚS' : ['India', 'France', 'Germany']

In [4]:
#6. Remove an element from a list by its index.
country = ['India','US','France','Germany']
print("Country before removing:",country)
gh = country.pop(3)
print("Country after removing index '3' :",country)

Country before removing: ['India', 'US', 'France', 'Germany']
Country after removing index '3' : ['India', 'US', 'France']

In [14]:
#7. Check if an element exists in a list.
country = ['India','US','France','Germany']
df = input()
iuy = country.count(df)
if iuy>0:
    print("Country is present")
else:    
    print("Country is not present")

 India

Country is present

In [20]:
#8. Find the index of the first occurrence of an element in a list.
country = ['India','US','France','Germany','India']
print("the index of the first occurrence of 'Índia' in a list :",country.index('India',0,))

the index of the first occurrence of an element in a list : 0

In [21]:
#9. Count the occurrences of an element in a list.
country = ['India','US','France','Germany','India']
print("the occurrences of 'India' in a list :",country.count('India'))

the occurrences of 'India' in a list : 2

In [24]:
#10. Reverse the order of elements in a list.
country = ['India','US','France','Germany','India']
print("Intial order is :",country)
print("Reverse order is :", country[::-1])

Intial order is : ['India', 'US', 'France', 'Germany', 'India']
Reverse order is : ['India', 'Germany', 'France', 'US', 'India']

In [28]:
#11. Sort a list in ascending order.
country = ['India','US','France','Germany','India']
print("Intial order is :",country)
po = country.sort()
print("Ascending order according to alphabetically is :", country)

Intial order is : ['India', 'US', 'France', 'Germany', 'India']
Ascending order according to alphabetically is : ['France', 'Germany', 'India', 'India', 'US']

In [29]:
#12. Sort a list in descending order.
country = ['India','US','France','Germany','India']
print("Intial order is :",country)
po = country.sort()
print("Dscending order according to alphabetically is :", country[::-1])

Intial order is : ['India', 'US', 'France', 'Germany', 'India']
Dscending order according to alphabetically is : ['US', 'India', 'India', 'Germany', 'France']

In [24]:
#13. Create a list of even numbers from 1 to 20.
jhk = [0]*10
j = 0
for i in range(1,21):
    if i%2 == 0:
        jhk[j] = i
        j = j+1
    else:
        pass
print(jhk)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [25]:
#14. Create a list of odd numbers from 1 to 20.
jhk = [0]*10
j = 0
for i in range(1,21):
    if i%2 == 0:
        pass
    else:
        jhk[j] = i
        j = j+1
print(jhk)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [35]:
#15. Find the sum of all elements in a list.
cou = [10,20,30]
print("Sum is :",sum(cou))

Sum is : 60

In [37]:
#16. Find the maximum value in a list.
cou = [10,20,30]
print(" Maximum value in a lis is :",max(cou))

 maximum value in a lis is : 30

In [38]:
#17. Find the minimum value in a list.
cou = [10,20,30]
print(" Minimum value in a lis is :",min(cou))

 Minimum value in a lis is : 10

In [30]:
#18. Create a list of squares of numbers from 1 to 10.
jhk = [0]*10
j = 0
for i in range(1,11):
    jhk[i-1] = i*i
print(jhk)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [34]:
#19. Create a list of random numbers.
import random
jhk = [0]*10
j = 0
for i in range(1,11):
    jhk[i-1] = random.randint(1,1000)
print(jhk)

[911, 329, 2, 543, 934, 338, 598, 228, 367, 282]

In [44]:
#20. Remove duplicates from a list.
cou = [10,20,30,40,10,20,20,30,60,50]
print("Before removing duplicate :", cou)
te = set(cou)
print("After removing duplicate :", list(te))

Before removing duplicate : [10, 20, 30, 40, 10, 20, 20, 30, 60, 50]
After removing duplicate : [40, 10, 50, 20, 60, 30]

In [48]:
#21. Find the common elements between two lists.
cou = [10,20,30,80,49]
poi = [10,20,60,80,49,56,78]
print("Two list are :",cou,poi)
kl = set(cou)
ds = set(poi)
print("The common elements between two lists",list(kl.intersection(ds)))

Two list are : [10, 20, 30, 80, 49] [10, 20, 60, 80, 49, 56, 78]
The common elements between two lists [80, 49, 10, 20]

In [20]:
#22. Find the difference between two lists.
cou = [10,20,30,80,49]
poi = [10,20,60,80,49,56,78]
print("Two list are :",cou,poi)
kl = set(cou)
ds = set(poi)
jp = kl.difference(ds)
we = ds.difference(kl)
#taking differnt element from kl with respect to ds,and vice versa .After taking union of 'jp'and 'we' set holding difference value
print("The the different elements between two lists",list(jp.union(we)))

Two list are : [10, 20, 30, 80, 49] [10, 20, 60, 80, 49, 56, 78]
The the different elements between two lists [56, 78, 60, 30]

In [52]:
#23. Merge two lists.
cou = [10,20,30,80,49]
poi = [10,20,60,80,49,56,78]
kl = set(cou)
ds = set(poi)
print("Two list merge elements",list(kl.union(ds)))

Two list merge elements [10, 78, 80, 49, 20, 56, 60, 30]

In [53]:
#24. Multiply all elements in a list by 2.
poi = [10,20,60,80,49,56,78]
print("Multiply all elements in a list by 2 is :",poi*2)

Multiply all elements in a list by 2 is : [10, 20, 60, 80, 49, 56, 78, 10, 20, 60, 80, 49, 56, 78]

In [13]:
#25. Filter out all even numbers from a list.
ihu = [1,2,3,4,5,6,78,1,31,54,26,95]
for i in ihu:
    if i%2 == 0:
        print(i,end =' ')

2 4 6 78 54 26

In [4]:
#26. Convert a list of strings to a list of integers
huy = ['10', '20', '60', '80', '49', '56', '78']
kle = []
for i in huy:
    kle.append(int(i)) 
kle

[10, 20, 60, 80, 49, 56, 78]

In [3]:
#27. Convert a list of integers to a list of strings.
poi = [10,20,60,80,49,56,78]
kle = []
for i in poi:
    kle.append(str(i)) 
kle

['10', '20', '60', '80', '49', '56', '78']

In [15]:
#28. Flatten a nested list.
poi = [[10,20],60,[80,49],56,78]
jh = []
for i in poi:
    if isinstance(i, list):
         for t in i:
            jh.append(t)
    else:
        jh.append(i)
print("Flatten list : ",jh)

Flatten list :  [10, 20, 60, 80, 49, 56, 78]

In [62]:
#29. Create a list of the first 10 Fibonacci numbers.
jhk = [0]*10
jhk[0] = 0
jhk[1] = 1
#first initalize two number
for i in range(2,9):
    jhk[i] = jhk[i-1] + jhk[i-2]
print(jhk)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 0]

In [27]:
#30. Check if a list is sorted.
poi = [10,20,60,80,49,56,78]
tre = poi.sort()
if poi == tre:
    print("List is sorted")
else:
    print("List is not sorted")

List is not sorted

In [6]:
#31. Rotate a list to the left by `n` positions.
poi = [10,20,60,80,49,56,78]
print("List is :",poi)
print("Enter the number upto :",len(poi), " to rotate the list to the left")
a = int(input())
if a <=7:
    yui = poi[0:a:]
    iop = poi[a:(len(poi)+1):]
    iop = iop+yui
    print("List after rotation to the left is :",iop)
    
else:
    print("Number is greater than :", len(poi))

List is : [10, 20, 60, 80, 49, 56, 78]
Enter the number upto : 7  to rotate the list to the left

 2

List after rotation to the left is : [60, 80, 49, 56, 78, 10, 20]

In [7]:
#32. Rotate a list to the right by `n` positions.
poi = [10,20,60,80,49,56,78]
print("List is :",poi)
print("Enter the number upto :",len(poi), " to rotate the list to the left")
a = int(input())
if a <=7:
    a = len(poi) - a
    yui = poi[0:a:]
    iop = poi[a:(len(poi)+1):]
    iop = iop+yui
    print("List after rotation to the right is :",iop)
    
else:
    print("Number is greater than :",len(poi))

List is : [10, 20, 60, 80, 49, 56, 78]
Enter the number upto : 7  to rotate the list to the left

 5

List after rotation to the right is : [60, 80, 49, 56, 78, 10, 20]

In [4]:
#33. Create a list of prime numbers up to 50.
from math import sqrt
y = []
wq =[2,3,4,5,6,7,8,9]
rty = int(input("Enter a number to print prime number upto range :"))
print(" prime number are :",end = " ")
def pt(r):
    count = 0
    if r < 4 or r == 5 or r == 7:
        pass
    else:
        if (round(sqrt(r),1)*round(sqrt(r),1)) == r:
            count = 1
        else:
            for lo in wq:
                if r%lo == 0:
                    count = 1
                    break
    return count
for i in range(2,rty+1):
    if pt(i) == 0:
        y.append(i)
print("Prime number list :",y)

Enter a number to print prime number upto range : 50

 prime number are : Prime number list : [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [47]:
#34. Split a list into chunks of size `n`.
poi = [10,20,60,80,49,56,78]
print("List is :",poi)
print("Enter the number upto :",len(poi),"to split the list")
a = int(input())
if a <=7:
    yui = poi[0:a:]
    iop = poi[a:(len(poi)+1):]
    print("Split list :",yui,iop)
    
else:
    print("Number is greater than :",len(poi))

List is : [10, 20, 60, 80, 49, 56, 78]
Enter the number upto : 7 to split the list

 2

Split list : [10, 20] [60, 80, 49, 56, 78]

In [55]:
#35. Find the second largest number in a list.
poi = [10,20,60,80,49,56,78]
print("List is :",poi)
poi.sort()
print("Second largest number is :",poi[-2])

List is : [10, 20, 60, 80, 49, 56, 78]
Second largest number is : 78

In [36]:
#36. Replace every element in a list with its square.
jkl = [1,2,3,4,5,6]
for i in jkl:
    print(i*i,end = " ")

1 4 9 16 25 36

In [8]:
#37. Convert a list to a dictionary where list elements become keys and their indices become values.
fgh = ['India','US','France','Germany']
iuy = {}
for index, element in enumerate(fgh):
    iuy[index] = element

print(iuy)

{0: 'India', 1: 'US', 2: 'France', 3: 'Germany'}

In [60]:
#38. Shuffle the elements of a list randomly.
import random
poi = [10,20,60,80,49,56,78]
poi.sort()
print("List is :",poi)
random.shuffle(poi)
print("After shuffle :",poi)

List is : [10, 20, 49, 56, 60, 78, 80]
After shuffle : [80, 20, 78, 49, 10, 56, 60]

In [11]:
#39. Create a list of the first 10 factorial numbers.
jo = []
p = 1
for i in range(1,11):
    if i > 1:
        while i > 0:
            p = p*i
            i = i-1
        jo.append(p)
        
    else:
        jo.append(i)
    p = 1    
print(jo)

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

In [65]:
#40. Check if two lists have at least one element in common.
cou = [10,20,30,80,49]
poi = [10,20,60,80,49,56,78]
kl = set(cou)
ds = set(poi)
trew == bool(kl.intersection(ds))
if trew == 0:
    print("There is no element in common")
else:
    print("Yes in two lists have at least one element in common")

Yes in two lists have at least one element in common

In [67]:
#41. Remove all elements from a list.
poi = [10,20,60,80,49,56,78]
print("List is :",poi)
poi.clear()
print("After removing all elements from a list :", poi)

List is : [10, 20, 60, 80, 49, 56, 78]
After removing all elements from a list : []

In [72]:
#42. Replace negative numbers in a list with 0.
gh = [1,2,3,-4,5,-6,-7,-8,-9]
for i in range(1,10):
    if gh[i-1] <= -1:
        gh[i-1] = 0
    else:
        pass
print(gh)

[1, 2, 3, 0, 5, 0, 0, 0, 0]

In [71]:
#43. Convert a string into a list of words.
kl = "Hello world"
print("String is :",kl)
print("String into list of words :",kl.split())

String is : Hello world
String into list of words : ['Hello', 'world']

In [73]:
#44. Convert a list of words into a string.
f = ['Hello', 'world']
print("List of word is :",f)
print("String is :",' '.join(f))

List of word is : ['Hello', 'world']
String is : Hello world

In [79]:
#45. Create a list of the first `n` powers of 2.
#for first 5 number 
gh = [1,2,3,4,5,6,7,8,9,45,56]
print("list before",gh)
for i in range(1,6):
    gh[i-1] = 2**gh[i-1]
print("list after the first 5 number are  powers of 2." ,gh)

list before [1, 2, 3, 4, 5, 6, 7, 8, 9, 45, 56]
list after the first 5 number are  powers of 2. [2, 4, 8, 16, 32, 6, 7, 8, 9, 45, 56]

In [13]:
#46. Find the longest string in a list of strings.
yu = yu = ['kjduhy', 'jieui' ,'iu']
py = len(yu[0])
okl = yu[0]
for i in range(1,3):
    if len(yu[i]) > py:
        py = len(yu[i])
        okl = yu[i]
print("largest word in the list is :",okl)

largest word in the list is : kjduhy

In [30]:
#47. Find the shortest string in a list of strings.
yu = ['kjduhy', 'jieui' ,'iu']
py = len(yu[0])
okl = yu[0]
for i in range(1,3):
    if len(yu[i]) < py:
        py = len(yu[i])
        okl = yu[i]
print("largest word in the list is :",okl)

largest word in the list is : iu

In [27]:
#48. Create a list of the first `n` triangular numbers
ytr = []
o = 0
io = int(input("Enter the number to Create a list of the first `n` triangular numbers :"))
for i in range(1,io+1):
        while i > 0:
            o = o+i
            i = i-1
        ytr.append(o)
        o = 0
print(ytr)

Enter the number to Create a list of the first `n` triangular numbers : 5

[1, 3, 6, 10, 15]

In [27]:
#49. Check if a list contains another list as a subsequence.
country = ['India','US','France','Germany','Sri Lanka']
jhu = []
gh = ['India','Germany','Sri Lanka']
count = 0
ji = len(country)
for i in gh:
    for kl in range(0,ji):
        if country[kl] == i:
            count = kl
            jhu.append(count)
            exit
ui = jhu.sort()
if ui == jhu:
    print("list contains another list as a subsequence.")
else:
    print("list contains another list as a subsequence.")

list contains another list as a subsequence.

In [79]:
#50. Swap two elements in a list by their indices.
country = ['India','US','France','Germany']
u = country[0]
k = country[3]
poi = set(country)
poi.

In [ ]:
Tuple based practice problem :

In [30]:
#1. Create a tuple with integers from 1 to 5.
cf = []
i = 0
while i < 5:
    cf.append(i+1)
    i += 1
ji = tuple(cf)
print("A tuple with integers from 1 to 5 :",ji)

A tuple with integers from 1 to 5 : (1, 2, 3, 4, 5)

In [24]:
#2. Access the third element of a tuple.
hu = (1, 2, 6, 4, 5)
print("The third element of a tuple :",hu[2])

The third element of a tuple : 6

In [25]:
#3. Find the length of a tuple without using the `len()` function.
hu = (1,2,6,8,9,4,5)
count = 0
for i in hu:
    count += 1
print("Length of tuple is :",count)

Length of tuple is : 7

In [30]:
#4.Count the occurrences of an element in a tuple.
pl = ('India','US','France','Germany','India')
print("Tuple is :",pl)
ch = pl.count('India')
print('The occurrences of word "India" is : ',ch)

Tuple is : ('India', 'US', 'France', 'Germany', 'India')
The occurrences of word "India" is :  2

In [31]:
#5. Find the index of the first occurrence of an element in a tuple.
pl = ('India','US','France','Germany','India')
print("Tuple is :",pl)
ch = pl.index('India')
print('The index of first occurrences of word "India" is : ',ch)

Tuple is : ('India', 'US', 'France', 'Germany', 'India')
The index of first occurrences of word "India" is :  0

In [34]:
#6. Check if an element exists in a tuple.
pl = ('India','US','France','Germany','India')
print("Tuple is :",pl)
ch = pl.count('India')
if ch > 0:
    print("Yes element is present in tuple.")
else:
    print("No element is not present in tuple.")

Tuple is : ('India', 'US', 'France', 'Germany', 'India')
Yes element is present in tuple.

In [35]:
#7. Convert a tuple to a list.
pl = ('India','US','France','Germany','India')
print("Tuple is :",pl)
pl = list(pl)
print("After converting into list :",pl)

Tuple is : ('India', 'US', 'France', 'Germany', 'India')
After converting into list : ['India', 'US', 'France', 'Germany', 'India']

In [36]:
#8. Convert a list to a tuple.
pl = ['India', 'US', 'France', 'Germany', 'India']
print("List is :",pl)
pl = tuple(pl)
print("After converting into tuple :",pl)

List is : ['India', 'US', 'France', 'Germany', 'India']
After converting into tuple : ('India', 'US', 'France', 'Germany', 'India')

In [38]:
#9. Unpack the elements of a tuple into variables.
pl = ('India','US','France','Germany','India')
print("Tuple is :",pl)
count = 1
for i in pl:
    print("Value ",count,i)
    count += 1

Tuple is : ('India', 'US', 'France', 'Germany', 'India')
Value  1 India
Value  2 US
Value  3 France
Value  4 Germany
Value  5 India

In [39]:
#10. Create a tuple of even numbers from 1 to 10.
ui = (1,2,3,4,5,6,7,8,9,10)
ui = list(ui)
po = []
for i in ui:
    if i%2 == 0:
        po.append(i)
print("tuple of even numbers from 1 to 10 is : ",tuple(po))

tuple of even numbers from 1 to 10 is :  (2, 4, 6, 8, 10)

In [40]:
#11. Create a tuple of odd numbers from 1 to 10.
ui = (1,2,3,4,5,6,7,8,9,10)
ui = list(ui)
po = []
for i in ui:
    if i%2 != 0:
        po.append(i)
print("tuple of odd numbers from 1 to 10 is : ",tuple(po))

tuple of odd numbers from 1 to 10 is :  (1, 3, 5, 7, 9)

In [41]:
#12. Concatenate two tuples.
ui = (1,2,3,4,5,6,7,8,9,10)
lo = (12,13,14,45)
print("Tuple 1 is :",ui)
print("Tuple 2 is :",lo)
ui = set(ui)
lo = set(lo)
pi = ui.union(lo)
pi = tuple(pi)
print("After concatenate two tuples :",pi)

Tuple 1 is : (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
Tuple 2 is : (12, 13, 14, 45)
After concatenate two tuples : (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 45, 13, 14)

In [43]:
#13. Repeat a tuple three times.
lo = (12,13,14,45)
print("Tuple  is :",lo)
print("After repeat a tuple three times :",lo*3)

Tuple  is : (12, 13, 14, 45)
After repeat a tuple three times : (12, 13, 14, 45, 12, 13, 14, 45, 12, 13, 14, 45)

In [45]:
#14. Check if a tuple is empty.
lo = (12,13,14,45)
po = ()
print("Tuple 1 is :",lo)
print("Tuple 2 is :",po)
if len(lo) == 0:
    print("Tuple 1 is empty")
else:
    print("Tuple 1 is not empty")
if len(po) == 0:
    print("Tuple 2 is empty")
else:
    print("Tuple 12 is not empty")

Tuple 1 is : (12, 13, 14, 45)
Tuple 2 is : ()
Tuple 1 is not empty
Tuple 2 is empty

In [47]:
#15. Create a nested tuple.
lk = (('o','p'),('k','l'))
print("Nested tuple is :",lk)

Nested tuple is : (('o', 'p'), ('k', 'l'))

In [48]:
#16. Access the first element of a nested tuple.
lk = (('o','p'),('k','l'))
print("First element of nested tuple is :",lk[0])

First element of nested tuple is : ('o', 'p')

In [50]:
#17. Create a tuple with a single element.
kl = ()
print("Tuple now :",kl)
kl = list(kl)
lo = str(input("Enter a string as input a single element in tuple:") )       
kl.append(lo)
print("Now tuple is :",tuple(kl))

Tuple now : ()

Enter a string as input a single element in tuple: kl

Now tuple is : ('kl',)

In [51]:
#18. Compare two tuples.
ui = (1,2,3,4,5,6,7,8,9,10)
lo = (12,13,14,45)
print("Tuple 1 is :",ui)
print("Tuple 2 is :",lo)
print("compare through size ")
if len(ui) > len(lo):
    print("Tuple 1 is larger in size ")
else:
    print("Tuple 2 is larger in size ")

Tuple 1 is : (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
Tuple 2 is : (12, 13, 14, 45)
compare through size
Tuple 1 is larger in size

In [55]:
#19. Delete a tuple.
ui = (1,2,3,4,5,6,7,8,9,10)
print("Tuple is :",ui)
del ui

Tuple is : (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [57]:
#20. Slice a tuple.
ui = (1,2,3,4,5,6,7,8,9,10)
print("Tuple is :",ui)
print("After slice from 1 to 5 is :",ui[0:5:])

Tuple is : (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
After slice from 1 to 5 is : (1, 2, 3, 4, 5)

In [58]:
#21. Find the maximum value in a tuple.
ui = (1,2,3,4,5,6,7,8,9,10)
print("Tuple is :",ui)
ui = list(ui)
print("The maximum value in a tuple is :",max(ui))

Tuple is : (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
The maximum value in a tuple is : 10

In [59]:
#22. Find the minimum value in a tuple.
ui = (1,2,3,4,5,6,7,8,9,10)
print("Tuple is :",ui)
ui = list(ui)
print("The minimum value in a tuple is :",min(ui))

Tuple is : (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
The minimum value in a tuple is : 1

In [61]:
#23. Convert a string to a tuple of characters.
hyu = str(input("Enter a string : "))
hyu = tuple(hyu)
print("Afetr Converting string into a tuple of characters.",hyu)

Enter a string :  hgsdyg dsag

Afetr Converting string into a tuple of characters. ('h', 'g', 's', 'd', 'y', 'g', ' ', 'd', 's', 'a', 'g')

In [63]:
#24. Convert a tuple of characters to a string.
hu = ('h', 'g', 's', 'd', 'y', 'g', ' ', 'd', 's', 'a', 'g')
print("Tuple is :",hu)
hu = list(hu)
hu = "".join(hu)
print("After Converting tuple of characters into a string.",hu)

Tuple is : ('h', 'g', 's', 'd', 'y', 'g', ' ', 'd', 's', 'a', 'g')
After Converting tuple of characters into a string. hgsdyg dsag

In [67]:
#25. Create a tuple from multiple data types.
kj = (3,5,'kl','%')
print("Tuple is :",kj)

Tuple is : (3, 5, 'kl', '%')

In [68]:
#26. Check if two tuples are identical.
ui = (1,2,3,4,5,6,7,8,9,10)
lo = (12,13,14,45)
print("Tuple 1 is :",ui)
print("Tuple 2 is :",lo)
if ui == lo:
    print("Both are identical")
else:
    print("Both are not identical")

Tuple 1 is : (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
Tuple 2 is : (12, 13, 14, 45)
Both are not identical

In [69]:
#27. Sort the elements of a tuple.
ui = (2,10,3,6,5,4,9,8,7,1)
print("Tuple is :",ui)
ui = list(ui)
ui.sort()
print("Ater Sorted the elements of a tuple :",tuple(ui))

Tuple is : (2, 10, 3, 6, 5, 4, 9, 8, 7, 1)
Ater Sorted the elements of a tuple : (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [73]:
#28. Convert a tuple of integers to a tuple of strings.
ui = (1,2,3,4,5,6,7,8,9,10)
print("Tuple is :",ui)
ui = list(ui)
vu = []
for i in ui:
    vu.append(str(i))
print("After converting tuple of integers to a tuple of strings :",tuple(vu))

Tuple is : (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
After Converting tuple of integers to a tuple of strings : ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [74]:
#29. Convert a tuple of strings to a tuple of integers.
ui =  ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')
print("Tuple is :",ui)
ui = list(ui)
vu = []
for i in ui:
    vu.append(int(i))
print("After converting tuple of strings to a tuple of integers :",vu)

Tuple is : ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')
After converting tuple of strings to a tuple of integers : [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [76]:
#30. Merge two tuples.
ui = (1,2,3,4,5,6,7)
lo = (6,7,8,12,13,14,45)
print("Tuple 1 is :",ui)
print("Tuple 2 is :",lo)
ui = set(ui)
lo = set(lo)
pi = ui.union(lo)
pi = tuple(pi)
print("After merge two tuples :",pi)

Tuple 1 is : (1, 2, 3, 4, 5, 6, 7)
Tuple 2 is : (6, 7, 8, 12, 13, 14, 45)
After merge two tuples : (1, 2, 3, 4, 5, 6, 7, 8, 12, 13, 14, 45)

In [77]:
#31. Flatten a nested tuple.
poi = ((10,20),60,(80,49),56,78)
print("Tuple is :",poi)
jh = []
for i in poi:
    if isinstance(i, tuple):
         for t in i:
            jh.append(t)
    else:
        jh.append(i)
jh = tuple(jh)        
print("Flatten list : ",jh)

Tuple is : ((10, 20), 60, (80, 49), 56, 78)
Flatten list :  (10, 20, 60, 80, 49, 56, 78)

In [84]:
#32. Create a tuple of the first 5 prime numbers.
jhu = [2,3]
count = 0
j = [2,3,4,5,6,7,8,9]
for i in range(4,19):
    for a in j:
        if i%a == 0:
            count += 1 
    if count == 0:
        jhu.append(i)
        count = 0
    else:    
        count = 0
print(tuple(jhu))

(2, 3, 11, 13, 17)

In [88]:
#33. Check if a tuple is a palindrome.
h = ('c','a','l','a','c')
j = h[::-1]
if j == h:
    print(" Given tuple is palindrome :"  )
else:
    print(" Given tuple is not a palindrome :"  )

 Given tuple is palindrome :

In [89]:
#34. Create a tuple of squares of numbers from 1 to 5.
lp = []
for i in range(1,6):
    lp.append(i*i)
print("Squares of numbers from 1 to 5 :",tuple(lp))

Squares of numbers from 1 to 5 : (1, 4, 9, 16, 25)

In [91]:
#35. Filter out all even numbers from a tuple.
ui = (1,2,3,4,5,6,7,8,9,10)
print("Tuple is :",ui)
ui = list(ui)
po = []
for i in ui:
    if i%2 == 0:
        po.append(i)
print("Tuple of only even numbers  : ",tuple(po))

Tuple is : (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
Tuple of only even numbers  :  (2, 4, 6, 8, 10)

In [ ]:
#36. Multiply all elements in a tuple by 2.
ui = (1,2,3,4,5,6,7,8,9,10)
print("Tuple is :",ui)
ki = list(ui)
for i in ki:
    yu = i*2
    ki.append(yu)
print("After multiply all elements in a tuple by 2 :",tuple(ki))

Tuple is : (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [1]:
#37. Create a tuple of random numbers.
import random
jhk = [0]*10
j = 0
for i in range(1,11):
    jhk[i-1] = random.randint(1,1000)
print(tuple(jhk))

(448, 480, 629, 798, 674, 46, 396, 709, 737, 521)

In [3]:
#39. Rotate a tuple to the left by `n` positions.
poi = (10,20,60,80,49,56,78)
print("tUPLE is :",poi)
print("Enter the number upto :",len(poi), " to rotate the tuple to the left")
a = int(input())
poi = list(poi)
if a <=7:
    yui = poi[0:a:]
    iop = poi[a:(len(poi)+1):]
    iop = iop+yui
    print("tuple after rotation to the left is :",tuple(iop))
    
else:
    print("Number is greater than :", len(poi))

tUPLE is : (10, 20, 60, 80, 49, 56, 78)
Enter the number upto : 7  to rotate the list to the left

 5

List after rotation to the left is : (56, 78, 10, 20, 60, 80, 49)

In [5]:
#40. Rotate a tuple to the right by `n` positions.
poi = (10,20,60,80,49,56,78)
print("Tuple is :",poi)
print("Enter the number upto :",len(poi), " to rotate the tuple to the left")
a = int(input())
if a <=7:
    a = len(poi) - a
    yui = poi[0:a:]
    iop = poi[a:(len(poi)+1):]
    iop = iop+yui
    print("Tuple after rotation to the right is :",tuple(iop))
    
else:
    print("Number is greater than :",len(poi))

Tuple is : (10, 20, 60, 80, 49, 56, 78)
Enter the number upto : 7  to rotate the tuple to the left

 4

Tuple after rotation to the right is : (80, 49, 56, 78, 10, 20, 60)

In [8]:
#41. Create a tuple of the first 5 Fibonacci numbers.
jhk = [0]*5
jhk[0] = 0
jhk[1] = 1
#first initalize two number
for i in range(2,5):
    jhk[i] = jhk[i-1] + jhk[i-2]
print(tuple(jhk))

(0, 1, 1, 2, 3)

In [10]:
#42. Create a tuple from user input.
jhk = []
hg = int(input("Enter the number for length of tuple"))
for i in range(1,hg+1):
         kl = int(input("Enter the element :"))
         jhk.append(kl)
print("Tuple is :",tuple(jhk))

Enter the number for length of tuple 5
Enter the element : 4
Enter the element : 5
Enter the element : 6
Enter the element : 8
Enter the element : 9

Tuple is : (4, 5, 6, 8, 9)

In [14]:
#43. Swap two elements in a tuple.
poi = (10,20,60,80,49,56,78)
print("Tuple is :",poi)
poi = list(poi)
kl = poi[3]
poi[3] = poi[1]
poi[1] = kl
print("After the swap element of 2 and 4 :",tuple(poi))

Tuple is : (10, 20, 60, 80, 49, 56, 78)
After the swap element of 2 and 4 : (10, 80, 60, 20, 49, 56, 78)

In [26]:
#44. Reverse the elements of a tuple.
poi = (10,20,60,80,49,56,78)
print("Tuple is :",poi)
poi = list(poi)
poi = poi[::-1]
print("After reverse the tuple is :",tuple(poi))

Tuple is : (10, 20, 60, 80, 49, 56, 78)
After reverse the tuple is : (78, 56, 49, 80, 60, 20, 10)

In [17]:
#45. Create a tuple of the first `n` powers of 2.
gh = (1,2,3,4,5,6,7,8,9,45,56)
print("tuple before",gh)
gh = list(gh)
for i in range(1,6):
    gh[i-1] = 2**gh[i-1]
print("Tuple after the first 5 number are  powers of 2." ,tuple(gh))

tuple before (1, 2, 3, 4, 5, 6, 7, 8, 9, 45, 56)
Tuple after the first 5 number are  powers of 2. (2, 4, 8, 16, 32, 6, 7, 8, 9, 45, 56)

In [19]:
#46. Find the longest string in a tuple of strings.
yu =  ('kjduhy', 'jieui' ,'iu')
print("Tuple is :",yu)
yu = list(yu)
py = len(yu[0])
okl = yu[0]
for i in range(1,3):
    if len(yu[i]) > py:
        py = len(yu[i])
        okl = yu[i]
print("largest word in the list is :",okl)

Tuple is : ('kjduhy', 'jieui', 'iu')
largest word in the list is : kjduhy

In [20]:
#47. Find the shortest string in a tuple of strings.
yu = ('kjduhy', 'jieui' ,'iu')
print("Tuple is :",yu)
yu = list(yu)
py = len(yu[0])
okl = yu[0]
for i in range(1,3):
    if len(yu[i]) < py:
        py = len(yu[i])
        okl = yu[i]
print("largest word in the list is :",okl)

Tuple is : ('kjduhy', 'jieui', 'iu')
largest word in the list is : iu

In [21]:
#48. Create a tuple of the first `n` triangular numbers.
ytr = []
o = 0
io = int(input("Enter the number to Create a list of the first `n` triangular numbers :"))
for i in range(1,io+1):
        while i > 0:
            o = o+i
            i = i-1
        ytr.append(o)
        o = 0
print(tuple(ytr))

Enter the number to Create a list of the first `n` triangular numbers : 5

(1, 3, 6, 10, 15)

In [22]:
#49. Check if a tuple contains another tuple as a subsequence.
country =( 'India','US','France','Germany','Sri Lanka')
jhu = []
gh = ('India','Germany','Sri Lanka')
print("uple 1 is :",country)
print("Tuple 2 is :",gh)
country = list(country)
gh = list(gh)
count = 0
ji = len(country)
for i in gh:
    for kl in range(0,ji):
        if country[kl] == i:
            count = kl
            jhu.append(count)
            exit
ui = jhu.sort()
if ui == jhu:
    print("Tuple contains another list as a subsequence.")
else:
    print("Tuple contains another list as a subsequence.")

uple 1 is : ('India', 'US', 'France', 'Germany', 'Sri Lanka')
Tuple 2 is : ('India', 'Germany', 'Sri Lanka')
Tuple contains another list as a subsequence.

In [23]:
#50. Create a tuple of alternating 1s and 0s of length `n`.
poi = int(input("Enter the length of tuple :"))
ju = []
for i in range(1,poi+1):
    if i%2 == 0:
        ju.append(i%2)
    else:
        ju.append(i%2)
print("Tuple is :",tuple(ju))

Enter the length of tuple : 6

Tuple is : (1, 0, 1, 0, 1, 0)

In [8]:
#Set Based Practice Problem :

In [25]:
#1. Create a set with integers from 1 to 5.
kl = []
for i in range(1,6):
    kl.append(i)
print("Tuple is :",set(kl))

Tuple is : {1, 2, 3, 4, 5}

In [27]:
#2. Add an element to a set.
poi = {10,20,60,80,49,56,78}
print("Set is :",poi)
poi = list(poi)
jo = int(input("Enter value  to add in set:"))
poi.append(jo)
print("after add element is :",tuple(poi))

Set is : {80, 49, 20, 56, 10, 60, 78}

Enter value  to add in set: 5

after add element is : (80, 49, 20, 56, 10, 60, 78, 5)

In [1]:
#3. Remove an element from a set.
poi = {10,20,60,80,49,56,78}
print("Set is :",poi)
ko = int(input("Element to remove is :"))
gh = []
poi = list(poi)
for i in  poi:
    if i != ko:
        gh.append(i)       
print("After removing element set is :",set(gh))

Set is : {80, 49, 20, 56, 10, 60, 78}

Element to remove is : 49

After removing element set is : {10, 78, 80, 20, 56, 60}

In [7]:
#4. Check if an element exists in a set.
poi = {10,20,60,80,49,56,78}
print("Set is :",poi)
ko = int(input("Element to check is :"))
poi = list(poi)
count = 1
for i in  poi:
    if i == ko:
        count += 1
if count > 1:
    print("Element is found")
else:
    print("Element is not found")

Set is : {80, 49, 20, 56, 10, 60, 78}

Element to check is : 49

Element is found

In [8]:
#5. Find the length of a set without using the `len()` function.
poi = {10,20,60,80,49,56,78}
print("Set is :",poi)
poi = list(poi)
count = 0
for i in poi:
    count += 1
print("Length of set is :",count)

Set is : {80, 49, 20, 56, 10, 60, 78}
Length of set is : 7

In [9]:
#6. Clear all elements from a set.
poi = {10,20,60,80,49,56,78}
print("Set is :",poi)
poi = list(poi)
poi.clear()
print("Now set is is:",set(poi))

Set is : {80, 49, 20, 56, 10, 60, 78}
Now set is is: set()

In [14]:
#7. Create a set of even numbers from 1 to 10.
jhk = [0]*10
j = []
for i in range(1,11):
    if i%2 == 0:
        j.append(i)
    else:
        pass
print(set(j))

{2, 4, 6, 8, 10}

In [15]:
#8. Create a set of odd numbers from 1 to 10.
jhk = [0]*10
j = []
for i in range(1,11):
    if i%2 == 0:
        pass
    else:
        j.append(i)
print(set(j))

{1, 3, 5, 7, 9}

In [12]:
#9. Find the union of two sets.
ui = {1,2,3,4,5,6,7}
lo = {6,7,8,12,13,14,45}
print("Set 1 is :",ui)
print("Set 2 is :",lo)
pi = ui.union(lo)
print("After merge two set :",pi)

Set 1 is : {1, 2, 3, 4, 5, 6, 7}
Set 2 is : {45, 6, 7, 8, 12, 13, 14}
After merge two set : {1, 2, 3, 4, 5, 6, 7, 8, 12, 45, 13, 14}

In [17]:
#10. Find the intersection of two sets.
ui = {1,2,3,4,5,6,7}
lo = {6,7,8,12,13,14,45}
print("Set 1 is :",ui)
print("Set 2 is :",lo)
pi = ui.intersection(lo)
print("Intersection of two set :",pi)

Set 1 is : {1, 2, 3, 4, 5, 6, 7}
Set 2 is : {45, 6, 7, 8, 12, 13, 14}
Intersection of two set : {6, 7}

In [13]:
#11. Find the difference between two sets.
ui = {1,2,3,4,5,6,7}
lo = {6,7,8,12,13,14,45}
print("Set 1 is :",ui)
print("Set 2 is :",lo)
pi = ui.difference(lo)
print("difference of two set :",pi)

Set 1 is : {1, 2, 3, 4, 5, 6, 7}
Set 2 is : {45, 6, 7, 8, 12, 13, 14}
difference of two set : {1, 2, 3, 4, 5}

In [20]:
#12. Check if a set is a subset of another set.
ui = {1,2,3,4,5,6,7}
lo = {6,7,8,12,13,14,45}
print("Set 1 is :",ui)
print("Set 2 is :",lo)
pi = ui.issubset(lo)
if pi == True:
    print("Set 1 is subset of set 2")
else:
    print("Set 1 is not a subset of set 2")

Set 1 is : {1, 2, 3, 4, 5, 6, 7}
Set 2 is : {45, 6, 7, 8, 12, 13, 14}
Set 1 is not a subset of set 2

In [22]:
#13. Check if a set is a superset of another set.
ui = {1,2,3,4,5,6,7}
lo = {6,7,8,12,13,14,45}
print("Set 1 is :",ui)
print("Set 2 is :",lo)
pi = ui.issuperset(lo)
if pi == True:
    print("Set 1 is superset of ")
else:
    print("Set 1 is not a superset ")

Set 1 is : {1, 2, 3, 4, 5, 6, 7}
Set 2 is : {45, 6, 7, 8, 12, 13, 14}
Set 1 is not a superset

In [1]:
#14. Create a set from a list.
lo = [6,7,8,12,13,14,45]
print("list is :",lo)
print("After convert to set :",set(lo))

list is : [6, 7, 8, 12, 13, 14, 45]
After convert to set : {6, 7, 8, 12, 13, 14, 45}

In [3]:
#15. Convert a set to a list.
lo = {6,7,8,12,13,14,45}
print("Set is :",lo)
print("After convert to list :",list(lo))

Set is : {45, 6, 7, 8, 12, 13, 14}
After convert to list : [45, 6, 7, 8, 12, 13, 14]

In [20]:
#16. Remove a random element from a set.
lo = {1,2,3,4,5,6,7,8,9}
print("Set is :",lo)
import random
lp = random.randint(1,9)
lo.discard(lp)
print("After removing a random element from a set.",lo)

Set is : {1, 2, 3, 4, 5, 6, 7, 8, 9}
After removing a random element from a set. {1, 2, 3, 4, 5, 7, 8, 9}

In [10]:
#17. Pop an element from a set.
poi = {10,20,60,80,49,56,78}
print("Set is :",poi)
ko = int(input("Element to pop is :"))
gh = []
poi = list(poi)
for i in  poi:
    if i != ko:
        gh.append(i)       
print("After pop element set is :",set(gh))

Set is : {80, 49, 20, 56, 10, 60, 78}

Element to pop is : 20

After pop element set is : {10, 78, 80, 49, 56, 60}

In [6]:
#18. Check if two sets have no elements in common.
ui = {1,2,3,4,5,6,7}
lo = {6,7,8,12,13,14,45}
print("Set 1 is :",ui)
print("Set 2 is :",lo)
pi = ui.intersection(lo)
pi = len(pi)
if pi > 0:
    print("Seta have common element  ")
else:
    print("Sets have no element common  ")

Set 1 is : {1, 2, 3, 4, 5, 6, 7}
Set 2 is : {45, 6, 7, 8, 12, 13, 14}
Seta have common element

In [14]:
#19. Find the symmetric difference between two sets.
ui = {1,2,3,4,5,6,7}
lo = {6,7,8,12,13,14,45}
print("Set 1 is :",ui)
print("Set 2 is :",lo)
pi = ui.difference(lo)
i = lo.difference(ui)
pi = pi.union(i)
print("Symmetric difference of two set :",pi)

Set 1 is : {1, 2, 3, 4, 5, 6, 7}
Set 2 is : {45, 6, 7, 8, 12, 13, 14}
Symmetric difference of two set : {1, 2, 3, 4, 5, 8, 12, 13, 45, 14}

In [16]:
#20. Update a set with elements from another set.
ui = {1,2,3,4,5,6,7}
lo = {6,7,8,12,13,14,45}
print("Set 1 is :",ui)
print("Set 2 is :",lo)
pi = ui.union(lo)
print(" After update a set with elements from another set.",pi)

Set 1 is : {1, 2, 3, 4, 5, 6, 7}
Set 2 is : {45, 6, 7, 8, 12, 13, 14}
 After update a set with elements from another set. {1, 2, 3, 4, 5, 6, 7, 8, 12, 45, 13, 14}

In [17]:
#21. Create a set of the first 5 prime numbers.
jhu = [2,3]
count = 0
j = [2,3,4,5,6,7,8,9]
for i in range(4,19):
    for a in j:
        if i%a == 0:
            count += 1 
    if count == 0:
        jhu.append(i)
        count = 0
    else:    
        count = 0
print(set(jhu))

{2, 3, 11, 13, 17}

In [19]:
#22. Check if two sets are identical.
ui = {1,2,3,4,5,6,7}
lo = {6,7,8,12,13,14,45}
print("Set 1 is :",ui)
print("Set 2 is :",lo)
if ui == lo:
    print("two sets are  identical:")
else:
    print("Two sets are not identical:")

Set 1 is : {1, 2, 3, 4, 5, 6, 7}
Set 2 is : {45, 6, 7, 8, 12, 13, 14}
Two sets are not identical:

In [20]:
#23. Create a frozen set.
poi = {10,20,60,80,49,56,78}
print("Set is :",poi)
poi = frozenset(poi)
print("Afetr convert to frozen set;",poi)

Set is : {80, 49, 20, 56, 10, 60, 78}
Afetr convert to frozen set; frozenset({80, 49, 20, 56, 10, 60, 78})

In [22]:
#24. Check if a set is disjoint with another set.
ui = {1,2,3,4,5,6,7}
lo = {6,7,8,12,13,14,45}
print("Set 1 is :",ui)
print("Set 2 is :",lo)
poi = ui.isdisjoint(lo)
if poi == True:
    print("Set is disjoint with another set :")
else:
    print("Set is not disjoint with another set :")

Set 1 is : {1, 2, 3, 4, 5, 6, 7}
Set 2 is : {45, 6, 7, 8, 12, 13, 14}
Set is not disjoint with another set :

In [23]:
#25. Create a set of squares of numbers from 1 to 5.
lp = []
for i in range(1,6):
    lp.append(i*i)
print("Squares of numbers from 1 to 5 :",set(lp))

Squares of numbers from 1 to 5 : {1, 4, 9, 16, 25}

In [24]:
#26. Filter out all even numbers from a set.
jhk = {12,5,8,78,45,64,89,52,58}
j = []
for i in jhk:
    if i%2 == 0:
        j.append(i)
    else:
        pass
print(set(j))

{64, 8, 12, 78, 52, 58}

In [25]:
#27. Multiply all elements in a set by 2.
jhk = {12,5,8,78,45,64,89,52,58}
j = []
for i in jhk:
    j.append(i*2)
print(set(j))

{128, 104, 10, 16, 178, 116, 24, 90, 156}

In [27]:
#28. Create a set of random numbers.
import random
jhk = [0]*10
j = 0
for i in range(1,11):
    jhk[i-1] = random.randint(1,1000)
print(set(jhk))

{198, 649, 466, 119, 245, 726, 471, 280, 284, 925}

In [28]:
#29. Check if a set is empty.
poi = {10,20,60,80,49,56,78}
print("Set is :",poi)
poi = len(poi)
if  poi == 0:
    print("Set is empty")
else:
    print("Set is not empty")

Set is : {80, 49, 20, 56, 10, 60, 78}
Set is not empty

In [32]:
#30. Create a nested set (hint: use frozenset).
ui = {1,2,3,4,5,6,7}
lo = {6,7,8,12,13,14,45}
print("Set 1 is :",ui)
print("Set 2 is :",lo)
lp = {frozenset(ui),frozenset(lo)}
print("Afetr nesting :",lp)

Set 1 is : {1, 2, 3, 4, 5, 6, 7}
Set 2 is : {45, 6, 7, 8, 12, 13, 14}
Afetr nesting : {frozenset({45, 6, 7, 8, 12, 13, 14}), frozenset({1, 2, 3, 4, 5, 6, 7})}

In [3]:
#31. Remove an element from a set using the discard method.
poi = {10,20,60,80,49,56,78}
print("Set is :",poi)
lo = int(input("Enter element to remove :"))
poi.discard(lo)
print("After removing an element from a set using the discard method.",poi)

Set is : {80, 49, 20, 56, 10, 60, 78}

Enter element to remove : 49

After removing an element from a set using the discard method. {80, 20, 56, 10, 60, 78}

In [4]:
#32. Compare two sets.
ui = {1,2,3,4,5,6,7}
lo = {6,7,8,12,13,14,45}
print("Set 1 is :",ui)
print("Set 2 is :",lo)
poi = ui.isdisjoint(lo)
kl = ui.issubset(lo)
if poi == True:
    print(" Two sets are disjoint:")
else:
    print("two sets are not disjoint:")
if kl == True:
    print(" Set 1 is  subset of set 2 :")
else:
    print("Set 1 is  not subset of set 2 ")

Set 1 is : {1, 2, 3, 4, 5, 6, 7}
Set 2 is : {45, 6, 7, 8, 12, 13, 14}
two sets are not disjoint:
Set 1 is  not subset of set 2

In [5]:
#33. Create a set from a string.
a = str(input('Enter the string'))
print("After converting into string : ",set(a))

Enter the string jhrdguiryuih

After converting into string :  {'y', 'h', 'u', 'd', 'i', 'g', 'r', 'j'}

In [4]:
#34. Convert a set of strings to a set of integers.
ui =  {'1', '2', '3', '4', '5', '6', '7', '8', '9', '10'}
print("set is :",ui)
ui = list(ui)
vu = []
for i in ui:
    vu.append(int(i))
print("After converting set of strings to a set of integers :",set(vu))

set is : {'5', '4', '2', '8', '10', '1', '3', '9', '6', '7'}
After converting set of strings to a set of integers : {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [2]:
#35. Convert a set of integers to a set of strings.
ui = {1,2,3,4,5,6,7,8,9,10}
print("Set is :",ui)
ui = list(ui)
vu = []
for i in ui:
    vu.append(str(i))
print("After converting set of integers to a set of strings :",set(vu))

Set is : {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
After converting set of integers to a set of strings : {'4', '5', '2', '6', '10', '8', '7', '3', '1', '9'}

In [3]:
#36. Create a set from a tuple.
gh = (1,2,3,4,5,6,7,8,9,45,56)
print("tuple before",gh)
print("After converting to set :",set(gh))

tuple before (1, 2, 3, 4, 5, 6, 7, 8, 9, 45, 56)
After converting to set : {1, 2, 3, 4, 5, 6, 7, 8, 9, 45, 56}

In [1]:
#37. Convert a set to a tuple.
gh = {1,2,3,4,5,6,7,8,9,45,56}
print("Set before",gh)
print("After converting to tuple :",tuple(gh))

Set before {1, 2, 3, 4, 5, 6, 7, 8, 9, 45, 56}
After converting to tuple : (1, 2, 3, 4, 5, 6, 7, 8, 9, 45, 56)

In [2]:
#38. Find the maximum value in a set.
gh = {1,2,3,4,5,6,7,8,9,45,56}
print("Set is :",gh)
lp = max(gh)
print("Maximum value in a set is :",lp)

Set is : {1, 2, 3, 4, 5, 6, 7, 8, 9, 45, 56}
Maximum value in a set is : 56

In [1]:
#39. Find the minimum value in a set.
gh = {1,2,3,4,5,6,7,8,9,45,56}
print("Set is :",gh)
lp = min(gh)
print("Mainimum value in a set is :",lp)

Set is : {1, 2, 3, 4, 5, 6, 7, 8, 9, 45, 56}
Mainimum value in a set is : 1

In [3]:
#40. Create a set from user input.
jhk = []
hg = int(input("Enter the number for length of set"))
for i in range(1,hg+1):
         kl = int(input("Enter the element :"))
         jhk.append(kl)
print("Set is :",set(jhk))

Enter the number for length of set 5
Enter the element : 4
Enter the element : 7
Enter the element : 8
Enter the element : 9
Enter the element : 2

Set is : {2, 4, 7, 8, 9}

In [9]:
#41. Check if the intersection of two sets is empty.
ui = {1,2,3,4,5,6,7}
lo = {6,7,8,12,13,14,45}
print("Set 1 is :",ui)
print("Set 2 is :",lo)
pi = ui.intersection(lo)
pi = len(pi)
if pi >= 1:
    print(" Set intersection is not empty ")
else:
    print("Set intersection is not emptyv  ")

Set 1 is : {1, 2, 3, 4, 5, 6, 7}
Set 2 is : {45, 6, 7, 8, 12, 13, 14}
 Set intersection is not empty

In [11]:
#42. Create a set of the first 5 Fibonacci numbers.
jhk = [0]*10
jhk[0] = 0
jhk[1] = 1
#first initalize two number
for i in range(2,6):
    jhk[i] = jhk[i-1] + jhk[i-2]
print(set(jhk))

{0, 1, 2, 3, 5}

In [12]:
#43. Remove duplicates from a list using sets.
ui = [1,2,3,4,5,6,7,9,3,4,9,1,3]
print("List  is :",ui)
print("After removing duplicates from a list using sets.",set(ui))

List  is : [1, 2, 3, 4, 5, 6, 7, 9, 3, 4, 9, 1, 3]
After removing duplicates from a list using sets. {1, 2, 3, 4, 5, 6, 7, 9}

In [16]:
#44. Check if two sets have the same elements, regardless of their count.
yt = {1,2,3,4,5,6,7,9}
p = {9,8,7,6,5,4,3,2,1}
yt = list(yt)
p = list(p)
yt = yt.sort()
p = p.sort()
if p == yt:
    print("Set have same elements, regardless of their count.")
else:
    print("Set not have same elements, regardless of their count.")

Set have same elements, regardless of their count.

In [17]:
#45. Create a set of the first `n` powers of 2.
gh = {1,2,3,4,5,6,7,8,9,45,56}
print("Set before",gh)
gh = list(gh)
for i in range(1,6):
    gh[i-1] = 2**gh[i-1]
print("Tuple after the first 5 number are  powers of 2." ,set(gh))

Set before {1, 2, 3, 4, 5, 6, 7, 8, 9, 45, 56}
Tuple after the first 5 number are  powers of 2. {32, 2, 4, 6, 7, 8, 9, 45, 16, 56}

In [2]:
#46. Find the common elements between a set and a list.
ui = {1,2,3,4,5,6,7}
lo = [6,7,8,12,13,14,45]
print("Set  is :",ui)
print("list is :",lo)
lo = set(lo)
pl = ui.intersection(lo)
print("The common elements between a set and a list.",pl)

Set  is : {1, 2, 3, 4, 5, 6, 7}
list is : [6, 7, 8, 12, 13, 14, 45]
The common elements between a set and a list. {6, 7}

In [8]:
#47. Create a set of the first `n` triangular numbers.
ytr = []
o = 0
io = int(input("Enter the number to Create a set of the first `n` triangular numbers :"))
for i in range(1,io+1):
        while i > 0:
            o = o+i
            i = i-1
        ytr.append(o)
        o = 0
print(set(ytr))

Enter the number to Create a set of the first `n` triangular numbers : 5

{1, 3, 6, 10, 15}

In [9]:
#48. Check if a set contains another set as a subset.
ui = {1,2,3,4,5,6,7}
lo = {6,7,8,12,13,14,45}
print("Set 1 is :",ui)
print("Set 2 is :",lo)
kl = ui.issubset(lo)
if kl == True:
    print(" Set 1 is  subset of set 2 :")
else:
    print("Set 1 is  not subset of set 2 ")

Set 1 is : {1, 2, 3, 4, 5, 6, 7}
Set 2 is : {45, 6, 7, 8, 12, 13, 14}
Set 1 is  not subset of set 2

In [13]:
#49. Create a set of alternating 1s and 0s of length `n`.
poi = int(input("Enter the length of Set :"))
ju = []
for i in range(1,poi+1):
    if i%2 == 0:
        ju.append(i%2)
    else:
        ju.append(i%2)
print("Tuple is :",set(ju))   
#Answer always 0,1 two values because set not contain duplicate value

Enter the length of Set : 5

Tuple is : {0, 1}

In [14]:
#50. Merge multiple sets into one.
ui = {1,2,3,4,5,6,7}
lo = {6,7,8,12,13,14,45}
pu = {17,68,98,46,48,92}
print("Set 1 is :",ui)
print("Set 2 is :",lo)
print("Set 3 is :",pu)
uy = ui.union(lo)
uy = uy.union(pu)
print("After merge 3 sets into one",uy)

Set 1 is : {1, 2, 3, 4, 5, 6, 7}
Set 2 is : {45, 6, 7, 8, 12, 13, 14}
Set 3 is : {48, 17, 98, 68, 92, 46}
After merge 3 sets into one {1, 2, 3, 4, 5, 6, 7, 8, 98, 68, 12, 45, 13, 14, 48, 17, 46, 92}